@media (max-width: 768px) {
    .contact-form form {
        width: 90%;
    }

    .contact-form form .input-box {
        flex-direction: column;
    }

    .contact-form form .input-box input {
        width: 100%;
    }

    .contact-form h2 {
        font-size: 28px;
    }
}


@media (max-width: 480px) {
    .contact-form h2 {
        font-size: 24px;
    }

    .contact-form form textarea {
        font-size: 16px;
        padding: 15px;
    }

    .btn-1 {
        width: 100%;
        font-size: 16px;
        padding: 12px 20px;
    }
}
